<div fxLayoutAlign="center center"fxLayout="column" fxFlexFill fxLayout="column" class="main-div">
    <mat-card fxflex="0">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="buttons">
                    <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="viewAsset();">View assets</button><br/><br/>
                    <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="addAsset();">Add asset</button><br/><br/>
                </ul>
              </div>
              <div class="col-sm">
                <ul class="buttons">
                    <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="viewEmployee();" >View employees</button><br/><br/>
                    <button type="button" class="btn btn-primary btn-lg" type="submit"(click)="addEmployee();" >Add employee</button><br/><br/>
                </ul> 
              </div>
              <div class="col-sm">
                <ul class="buttons">
                    <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="viewAssignment();">View assignments</button><br/><br/>
                    <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="Assign();">Assign</button><br/><br/>
                </ul> 
              </div>
            </div>
          </div> 
    </mat-card>
</div>
    

