<body style="background-image:url('../../../assets/lap.jpg'); background-repeat:no-repeat; background-size:cover;opacity: 80%;">
<div fxLayoutAlign="center center"fxLayout="column" fxFlexFill fxLayout="column" class="main-div">
    <mat-card fxflex="0">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="buttons">
                    <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="viewAssignments();">View assignments</button><br/><br/>
                </ul>
              </div>
            </div>
          </div> 
    </mat-card>
</div>
</body>
