<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Add asset</span>
  </nav>
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  {{userForm.value|json}}
  <hr/>
  <!-- //{{userModel| json}} -->
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Employee ID</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Employee ID" name="employeeId" [(ngModel)]="userModel.employeeId">
      </div>
      <!-- //{{name.className}} -->
      </div>
    <div class="form-row">
        
      <div class="form-group col-md-6">
        <label for="inputEmail4">First name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="First name" name="fname" [(ngModel)]="userModel.fname">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Last name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Last name" name="lname" [(ngModel)]="userModel.lname">
      </div>
      <!-- <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div> -->
    </div>
    
    <!-- <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div> -->
    <div class="form-row">
        <div class="form-group col-md-6" >
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" [(ngModel)]="userModel.address">
          </div>
      <!-- <div class="form-group col-md-6">
        <label for="inputCity">Location</label>
        <input type="text" class="form-control" id="inputCity">
      </div> -->
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Asset ID</label>
            <input type="text" class="form-control" id="inputAssetId" name="assetId" [(ngModel)]="userModel.assetId">
          </div>
        </div>
      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Asset name</label>
        <input type="text" class="form-control" id="inputAssetName" name="assetName" [(ngModel)]="userModel.assetName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Asset type</label>
        <input type="text" class="form-control" id="inputAssetType" name="assettype" [(ngModel)]="userModel.assetType">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Given Date</label>
        <input type="date" class="form-control" id="inputGivendate" name="givenDate" [(ngModel)]="userModel.givenDate">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Return Date</label>
        <input type="date" class="form-control" id="inputCity" name="returnDate" [(ngModel)]="userModel.returnDate">
      </div>
      
      <br/>
      <!-- <div class="form-group col-md-4">
        <label for="inputState">Asset name</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div> -->
      <!-- <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div> -->
    </div>
    <div class="form-group">
      <div class="form-check">
        <!-- <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label> -->
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add asset</button>
  </form>
