.bg-light {
    background-color: #5692cd!important;
}
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 20px;
    margin-right: 15px;
}
.header{
    margin-right: 23px;
    margin-left: 20px;
}