<div fxLayoutAlign="center center"fxLayout="column" fxFlexFill fxLayout="column" class="main-div">
    <mat-card fxflex="0">
        <ul class="buttons">
        <div class="">
            <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="viewAsset();">View asset</button><br/><br/>
            <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="addAsset();">Add asset</button><br/><br/>
            <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="editAsset();">Edit asset</button><br/><br/>
            <button type="button" class="btn btn-primary btn-lg" type="submit" (click)="deleteAsset();">Delete asset</button><br/>
        </div>
        </ul>
    </mat-card>
</div>
    

